{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": { // parser opt
    "ecmaVersion": 6, // ES version
    "sourceType": "module" // type of souce file
  },
  "rules": {
    "indent": ["error", 4],
    "quotes": ["error", "single"],
    "semi": "off",
    "no-console": "off"
  }
}
